{% extends 'commonheader.html' %} {% block content %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <div class="hero-slider">
      <div
        class="slider-item th-fullpage hero-area"
        style="background-image: url(/static/images/pic1.jpeg)"
      >
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h1
                data-duration-in=".3"
                data-animation-in="fadeInUp"
                data-delay-in=".1"
              >
                Ai vs Human <br />
                Text detector
              </h1>
            </div>
          </div>
        </div>
      </div>
      <div
        class="slider-item th-fullpage hero-area"
        style="background-image: url(/static/images/pic2.jpeg)"
      >
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h1
                data-duration-in=".3"
                data-animation-in="fadeInUp"
                data-delay-in=".1"
              >
                Ai vs human <br />
                Text detector
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock %}
